@charset "UTF-8";
@import "./Vars.scss";
@import "./Media.scss";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#170055), to(#ae00fb));
    background-image: $main-color;
    font-family: $theme-font;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    height: 0.9px;
    width: 9px;
    background-color: #1700559c;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(216, 216, 231, 0.37);
    border-radius: 15px;
}
